extends layout

block content
    nav
        ul
            li(class='home', tabindex=0)
                a(href='#') Inicio
            li(class='rsvp', tabindex=0)
                a(href='#') RSVP
            li(class='map', tabindex=0)
                a(href='#') Mapa
