doctype 5
html
  head
    title= LyA
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Salsa')
    link(rel='stylesheet', href='stylesheets/styles.css')
    block stylesheets
  body
    block content
