doctype 5
html
  head
    title= Martin
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Salsa')
    link(rel='stylesheet', href='stylesheets/styles.css')
    link(rel='stylesheet', href='javascripts/vegas/jquery.vegas.css')

  body
    block content
    script(text='javascript', src='javascripts/jquery.min.js')
    script(text='javascript', src='javascripts/vegas/jquery.vegas.js')
    script(type='text/javascript', src='javascripts/index.js')
