extends layout
block stylesheets
    link(rel='stylesheet', href='stylesheets/map.css')
block content
    div(id='map')
    script(type='text/javascript', src='javascripts/jquery.min.js')
    script(type='text/javascript', src='javascripts/OpenLayers.js');
    script(type='text/javascript', src='javascripts/map.js');

